body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(270deg,#cc6aa5,#3e91cc,#2dcca7);
  background-size: 600% 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.window-container {
    display: grid!important;
    grid: repeat(2, 50%) / repeat(4, 33%);
    /* padding: .1rem; */
    height: 23em;
  }
  
.window-item {
    width: -webkit-fill-available;
    height: 213px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: block;
    padding: 3px;
}

.player-icon {
    width: 190px;
    height: 220px;
    border-radius: 1em;
    overflow: hidden;
    margin: auto;
    animation-timing-function: ease;
    border: 5px solid lightgray;
    background: white;
}

.player_joined {
    animation: player_joined 1s
}

@keyframes player_joined {
    from {
        bottom: .5em;
    }
    to {
        bottom: 2em;
    }
}

.players-panel {
    display: flex;
    padding: 1em;
    height: 330px;
}

.player-label {
    background: white;
    position: relative;
    bottom: 2em;
    /* height: 1em; */
}

.video-item {
    width: 100%;
    height: 100%;
    background: #CCCCCC;
    overflow: hidden;
    vertical-align: middle;
}

.chat-box {
    width: 100%;
    height: 100%;  
}

@keyframes example {
    /* 0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
    /* from {top: 0px; background-color: yellow;}
    to {top: 200px; background-color: blue;} */
    from {height: 20px;}
    to {height: 250px;}
}

.answer-item {
    display: block;
    white-space: nowrap;
    width: 100%;
    /* width: fit-content; */
    border-radius: 1em;
    background: none;
    font-size: 2.5em;
    text-align: left;
    margin-left: 2em;
    margin-top: .1em;
    width: 80%;
}

.answer-item-selectable {
    border: 3px solid green;
    cursor: pointer;
}

.answer-item-selectable:hover {
    background: green;
    color: white;
}

.selected {
    border: 1px solid red;
    border-radius: .2em
}

.selected:focus {
    outline: none;
}

.game-status {
    animation-name: game-status;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

@keyframes game-status {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}

.game_role {
    _border: 1px solid green;
    /* background: white; */
    position: relative;
    /* margin: auto; */
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    height: fit-content;
    left: 0;
    bottom: 2em;
    width: -webkit-fill-available;
}

.player_answer_tab {
    position: relative;
    bottom: 2.9em;
    left: .2em;
    text-align: right;
    font-size: 2em;
    /* border: 1px solid yellow; */
    background: gold;
    width: fit-content;
    line-height: normal;
    border-radius: 3px;
    width: 1em;
    text-align: center;
    /* display: none; */
}

.player_new_answer {
    display: inherit;
}

.main-menu-item {
    margin: auto;
    border: 10px solid rgb(85, 170, 85);
    border-radius: 1em;
    font-size: 5em;
    color: rgb(0, 54, 0);;
    cursor: pointer;
    width: 10em;
    background: rgb(1, 100, 1);
}

.main-menu-item:hover {
    background: rgb(1, 100, 1);
    color: white;
}

.game-panel {
    /* border: 1px solid blue; */
    height: 100%;
    /* width: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* background: white; */
}

.label { 
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
    vertical-align: top;
}

.field {
    margin-bottom: 1em;
}

.host-question-panel {
    border: 3px solid green;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}

.host-question-panel-expand {
    padding: 1em;
    width: 300px;
    box-shadow: 3px 3px gray;
    cursor: unset;
}

.video-config-panel {
    border: 3px solid green;
    position: absolute;
    top: 90px;
    left: 10px;
    width: 70px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    /* padding: 1em; */
}

.host-answer-item {
    border: 3px solid green;
    border-radius: 2em;
    width: 2em;
    text-align: center;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}

.host-answer-item-selected {
    background: green;
    color: white;
}

.rotate-scale-down-diag-2 {
	-webkit-animation: rotate-scale-down-diag-2 0.7s linear both;
	        animation: rotate-scale-down-diag-2 0.7s linear both;
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.45s linear both;
	        animation: rotate-scale-up 0.45s linear both;
}

.flip-2-hor-top-1 {
	-webkit-animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shadow-drop-center {
    border: 5px solid goldenrod;
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bg-pan-left {
	-webkit-animation: bg-pan-left 8s both;
            animation: bg-pan-left 8s both;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bounce-out-top {
	-webkit-animation: bounce-out-top 1.5s both;
	        animation: bounce-out-top 1.5s both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.host-question-panel-first-time {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation-delay: 2s;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-12 13:18:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-down-diag-2
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }
@keyframes rotate-scale-down-diag-2 {
    0% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 0deg);
              transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
              transform: scale(0.5) rotate3d(-1, 1, 0, 180deg);
    }
    100% {
      -webkit-transform: scale(1) rotate3d(-1, 1, 0, 360deg);
              transform: scale(1) rotate3d(-1, 1, 0, 360deg);
    }
  }

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

/**
 * ----------------------------------------
 * animation flip-2-hor-top-1
 * ----------------------------------------
 */
@-webkit-keyframes flip-2-hor-top-1 {
    0% {
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
@keyframes flip-2-hor-top-1 {
    0% {
      -webkit-transform: translateY(0) rotateX(0);
              transform: translateY(0) rotateX(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: translateY(-100%) rotateX(-180deg);
              transform: translateY(-100%) rotateX(-180deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
@keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */
 @-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
@keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
@keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }

/**
 * ----------------------------------------
 * animation bounce-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    5% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    15% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    25% {
      -webkit-transform: translateY(-38px);
              transform: translateY(-38px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    52% {
      -webkit-transform: translateY(-75px);
              transform: translateY(-75px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    85% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-800px);
              transform: translateY(-800px);
      opacity: 0;
    }
  }
@keyframes bounce-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    5% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    15% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    25% {
      -webkit-transform: translateY(-38px);
              transform: translateY(-38px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    52% {
      -webkit-transform: translateY(-75px);
              transform: translateY(-75px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    85% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-800px);
              transform: translateY(-800px);
      opacity: 0;
    }
  }

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
@keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
@keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  